<div class="row">
  <div class="col-md-8">

    <form ng-submit="$ctrl.createPost()">
      <div>
        <label for="title">Title</label>
        <input id="title" class="form-control" ng-model="$ctrl.newPost.title">
      </div>
      <div>
        <label for="body">Description</label>
        <textarea id="body" class="form-control" ng-model="$ctrl.newPost.description"></textarea>
      </div>
      <div>
        <label for="price">Price</label>
        <input id="price" class="form-control" ng-model="$ctrl.newPost.price">
      </div>
      <div>
        <label for="item_image">Item Image</label>
        <input id="item-image" class="form-control" ng-model="$ctrl.newPost.item_image">
      </div>
      <br>
      <div class="form-group">
        <button type="submit" class="btn btn-info">
          Create Post
        </button>
      </div>
    </form>

  </div>
</div>
