<div class="row">
  <div class="col-md-12">

    <div class="well">

      <div class="media-left">
        <img class="media-object" ng-src="{{$ctrl.post.item_image}}"  max-height=300px width=250px>
      </div>

      <div class="media-body text-center">
        <h3 class="media-heading">
          {{$ctrl.post.title}}
      |
          ${{$ctrl.post.price}}
        </h3>
        <br>
        <p>
          {{$ctrl.post.description}}
        </p>
        <div>
          {{$ctrl.post.created_at.fromNow()}}
        </div>
        <a ui-sref="edit({post_id: $ctrl.post.id })">edit</a>
        <a href="#" ng-click="$ctrl.deletePost()">delete</a>
      </div>
    </div>

  </div>
</div>
