<div class="float-right">

<ul class="nav nav-pills">
  <li role="presentation" class="active">
    <input ng-model="$ctrl.filter" type="search" class="form-control input-sm search-form" placeholder="Filter">
  </li>
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Sort By {{$ctrl.sortCriterion.category}}<span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="criterion in $ctrl.sortCriteria" ng-click="$ctrl.sortCriterion = criterion"><a href="#">Sort By {{criterion.category}}</a></li>
      </ul>
    </li>
  </ul>
</div>
